*vscode
build
*.o
.DS_Store
compressor/text/*
compressor/report/*
large_text.txt
dataset/*
*__pycache__*
main
*main.dSYM*
external/malloc_count
reports/*/extract/*extract_answer*.txt
reports/*/extract/*result_extract*.txt